{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block title %} Blog - Nova Postagem {% endblock title %}

{% block header %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static 'img/home-bg.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Blog</h1>
            <span class="subheading">Um projeto de um blog</span>
          </div>
        </div>
      </div>
    </div>
  </header>

{% endblock header %}

{% block content %} 
<h1>Criar nova Postagem</h1>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.media}}
        {{form|bootstrap}}
        <input type="submit" class="btn btn-primary" value="Salvar">
    </form>


{% endblock content %}